.spinner {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.spinning {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
