.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
  column-gap: 15px;
}

.movieCard:hover {
  opacity: 0.8;
}

@media (max-width: 560px) {
  .movieGrid {
    grid-template-columns: 100%;
  }
}
