.videoGrid {
  display: grid;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
  gap: 40px;
  padding: 40px;
  justify-content: center;
  column-gap: 15px;
}

.videoCard:hover {
  opacity: 0.8;
}
