* {
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529 !important;
  height: 100vh;
}

#root {
  height: 100vh;
}

.App {
  height: 100vh;
}

a {
  text-decoration: none !important;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
