* {
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529 !important;
  height: 100vh;
  display: relative;
}

#root {
  height: 100vh;
}

.App {
  height: 100vh;
}

a {
  text-decoration: none !important;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.minHeightContainer {
  min-height: 75vh;
}

#controlled-tab-example-tab-videos.active {
  background-color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.55);
}

#controlled-tab-example-tab-videos {
  color: rgba(255, 255, 255, 0.55);
}

#controlled-tab-example-tab-data.active {
  background-color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.55);
}

#controlled-tab-example-tab-data {
  color: rgba(255, 255, 255, 0.55);
}

.nav-tabs {
  border-color: rgba(255, 255, 255, 0.55);
}
